@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sedgwick+Ave+Display&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Manrope:wght@200;300&family=Sedgwick+Ave+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav{
  font-family: 'Calligraffitti', cursive;
}
.letter{
  letter-spacing: 20px;
}

@media screen and (max-width:768px) {
 .letter{
  letter-spacing: 10px;
 } 
}
